In [1]:
import google.cloud.bigquery.magics
import pydata_google_auth

In [3]:
credentials = pydata_google_auth.get_user_credentials(["https://www.googleapis.com/auth/cloud-platform"])

In [4]:
google.cloud.bigquery.magics.context.credentials = credentials

In [5]:
%load_ext google.cloud.bigquery

In [7]:
%%bigquery
SELECT name, SUM(number) as count
FROM `bigquery-public-data.usa_names.usa_1910_current`
GROUP BY name
ORDER BY count DESC
LIMIT 3

     name    count
0   James  5015584
1    John  4885284
2  Robert  4749154